--- 
layout: default
style:
- title: Touch&Colors
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quasi a quaerat inventore expedita aperiam reprehenderit cumque tenetur accusanet consectetur adipisicing elit. Ratione quasi a quaerat inventore expedita aperiam reprehenderit cumque tenetur accusantium duc. A! Ratione quasi a quaerat. Ynventore expedita aperiam reprehenderit cumque tenetur accusanet <a href="_posts/2022-08-16-caswes-house.md"> consectetur </a> adipisicingaccusanet.
  quote: Quisquam aspernatur corrupti laudantium eaque doloribus voluptates officiis magnam sit. Ratione quasi.
  featured_image: /images/bg-interior-mint.jpg
- title: Attributes  
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quasi a quaerat inventore expedita aperiam reprehenderit cumque tenetur accusanet consectetur adipisicing elit. Ratione quasi a quaerat inventore expedita aperiam reprehenderit cumque tenetur accusantium duc. A! Ratione quasi a quaerat. Ynventore expedita aperiam reprehenderit cumque tenetur accusanet consectetur adipisicingaccusanet.
  quote: Quisquam aspernatur corrupti laudantium eaque doloribus voluptates officiis magnam sit. Isicing elit. 
  featured_image: /images/bg-interior-1.jpg
seo:
  title: Minimalist interior design 
  description: Minimalist style in interior is known by only including the necessary elements and focusing on perfect lines and surfaces. 
  social_image:
  twitter_card:
  twitter_description:
  keywords:
  hide-from-google: false
--- 

{% include header-nav.html %}

<section class="col-12 margin-t-1 center capped-width-narrow padded padded-b-1 xs-padded-b-1"> 
    <h1 class=" uppercase "> Your Styles </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quasi a quaerat inventore expedita aperiam reprehenderit cumque tenetur accusanet consectetur adipisicing elit. Ratione quasi a quaerat inventore expedita aperiam reprehenderit cumque tenetur accusantium duc. A! Ratione quasi a quaerat. Ynventore expedita aperiam reprehenderit cumque tenetur accusanet consectetur adipisicingaccusanet</p>
</section>


<section class="padded">

    {% for item in page.style %}

    <div class="grid flex-flip-alternate padded-b-lg"> 
    
        <div class="col-7_sm-12-middle padded editable">
            <h2 class="text-featured"> {{ item.title }} </h2>
            <p> {{ item.description }} </p>
            <blockquote> {{ item.quote }} </blockquote>
        </div>

        <div class="col-5_sm-12 bg-image  tall-80 padded" style="background-image: url('{{ item.featured_image }}')"> </div>

    </div>

    {% endfor %}

    </section>


