---
layout: default
cards:
- featured_image: /images/bg-card4.jpg
  heading: Sky Club House
  description: Spacious, comfortable apartment in the cultural heart and along the business pulse of the city.
  post: sky-post.html
- featured_image: /images/bg-light.jpg
  heading: Caswes House
  description: Beautiful house in a great street with a very nice and peaceful surrounding. Msit amet consectetur adipisfgficing elit.
- featured_image: /images/bg-card-2.jpg     
  heading: Stepny Green
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magnam numquam eveniet expedita provident.
--- 

 <!-- Header Section -->
    {% include header-nav.html %}

    <!-- Project Cards ------- -->
    <section class="grid padded bg-light padded-t-2 sm-margin-t-05 xs-margin-t-1 ">
        <div class="col-12 center text-dark padded-b-2 padded-t-2 xs-padded-b-1"> 
            <h2 class="uppercase"> Our Latest Projects </h2>
        </div>

        <div class="grid horizontal-scroll ">

            {% for post in site.posts %}

        <!-- Card 1 -->
        <div class="col-4_sm-7 grid padded-sm center">
            <a href="{{post.url}}">  <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{post.featured_image}}')"></div>
                <div class="padded-2 md-padded-r-l-1">
                    <h3 class="text-featured"> {{post.heading}} </h3>
                    <p> {{post.description}} </p>
                </div>
            </div> </a>
        </div>
            {% endfor %}

        </div>
    </section>

 <!----- Testimonial Section ------------------------->
    <section class="padded-lg sm-padded grid ">
        <div class="col-1 right"> 
            <span class="quote-icon ">“</span>
        </div>
        <div class="col-10 center padded-l-r-05"> 
            <p class="medium-text"> Afficia, repellat dignissimos a laboriosam recusandae? Illum ab dicta veniam praesentium et eligendi quas culpa minima. </p>
            <p class="subtitle"> - A very happy customer </p>
        </div>
        <div class="col-1"> 
            <span class="quote-icon">”</span>
        </div>
    </section>

<!-- Banner -->
    <!-- <section class="grid-spaceBetween tall-45 sm-tall-35 padded bg-dark sm-text-center">
        <div class="col-5_sm-12-middle text-white">
            <h1 class="logo "> BrightDeck </h1>
            <p> Honsequuntur vel in cupiditate magnam error <br> animi libero facere doloribus, quas nam! Deserunt, error sequi.</p>
            <nav>
                <a href="#"> <i class="fa-brands fa-pinterest"></i> </a>
                <a href="https://www.instagram.com/svetaugnivenko/"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="#"> <i class="fa-brands fa-facebook-f"></i> </a>
            </nav>
        </div>
        <div class="col-6 bg-image bg-card hide-sm tall-60"></div>
    </section> -->

