* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class*=grid] {
    margin: 0;
}
[class*=col-] {
    padding: 0;
}
/* NOTES
- font:
'Maven Pro', sans-serif; 400,500,600
'Noto Sans Display', sans-serif;
- colors
light #acc2b6
feartured #95b1a2
dark #3f564b
*/

/* temporary styles */
/* * {
    padding: 0.5rem;
    border: 1px solid rgb(220,220,220);
} */
/* html,
body {
    border: none;
} */
/* h1, h2, h3, h4, h5, h6, p, a {border: 1px solid rgb(210, 152, 145);}
.bg-image {background-color: rgb(224, 188, 127);} */

/* End temporary styles */

/* Re-usable Utiity Classes  */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.padded-0 {padding: 0;}
.padded    { padding: 5%;   }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-1,
.grid.padded-1 { padding: 1rem; } 

.padded-r-0 {padding-right: 0;}
.padded-l-0 {padding-left: 0;}
.padded-b-0 {padding-bottom: 0;}
.padded-t-0 {padding-top: 0;}

.padded-l  { padding-left: 5%;  }
.padded-r  { padding-right: 5%; }
.padded-b  { padding-bottom: 5%;}
.padded-b-1 {padding-bottom: 1rem;}

.padded-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.margin-b-0 { margin-bottom: 0; }
.padded-r-03 {padding-right: 0.3rem;}

.bg-light    { background-color: #e5ece8; }
.bg-featured { background-color: #95b1a2; }
.bg-dark      { background-color: #506d5f; }

.text-featured { color: #95b1a2;} 
.text-white {color: white;}

/* Button Links */
.button {
    text-decoration: none;
    border: 2px solid; 
    padding: 0.5rem 1rem;
    display: inline-block;
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
    background-color:  #95b1a2;
    margin-top: 0.8rem;
  }
  .button:hover {
    background-color: #acc2b6;
  }
  .button-form {
    background-color: #acc2b6;
    color: white;
    padding: 0.3rem 1rem;
}
.button-form:hover {background-color: #95b1a2;}

  .logo {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0;
}

/* Typography */
body {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
}

h1, h2,h4,h5,h6 {
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 2.5rem;
}
h2 {
   font-size: 2rem;
}
h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
p {  
    line-height: 1.3;
    margin-bottom: 0.8rem;
    font-size: 1rem;
}
p:last-child {
   margin-bottom: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
nav a {
    padding: 0.2rem;
    margin-right: 0.3rem;
}
nav a:last-child {margin-right: 0;}
nav a:hover {color: #acc2b6;}

/* Header & Footer  */
header {
    padding: 2% 5%;
}
.copyright {
font-size: 0.8rem;
font-style: italic;
}
footer .logo {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
/* Contact Form  */
form input,
form select,
form textarea {
  display: block;
  width: 100%;
  border: 1px solid #acc2b6;
  margin: 0.3rem 0.3rem;
  padding: 0.4rem;
  outline: none;
  font-family: inherit;
  font-size: 0.8rem;
  color: #506d5f;
}

form textarea {
  min-height: 2rem;
  resize: vertical;
}

form input:focus, 
form select:focus,
form textarea:focus {
  border: 1px solid #acc2b6;
  outline: none;
}
  form button-form {
    margin: 0;
    margin-top: 0.3rem;
    transition: all 0.3s;
    border: 0.1px solid ;
    color: #424d48;
    display: inline-block;
  }
  form input:last-child,
  form select:last-child,
  form textarea:last-child {
      margin-bottom: 0;
   }


.subtle { 
    opacity: 0.8;
} 

/* original social icon class  */
.fa-brands {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}
.fa-brands:hover {
    color: #3f564b;
}

.fa-brands:first-child {padding-left: 0%;}

/* need to be replaced */
.icon-featured {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    color:  rgb(100,100,100);
}

/* Background Images */
.bg-image {
    background-color: rgb(240,240,240); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/bg-light.jpg');
}
.bg-mint { 
    background-image: url('/images/bg-interior-mint.jpg');
    background-position: 50% 10%;
}
.bg-room { background-image: url('/images/bg-interior-room.jpg');}
.bg-kitchen { 
    background-image: url('/images/bg-interior-kitchen.jpg');
    background-position: 50% 10%;
}
.bg-interior { background-image: url('/images/bg-interior-\ 1.jpg');}

/* Youtube video */
.youtube-container {
    max-width: 70%;
    align-items: center;
  }
  .youtube-center {
    margin: auto;
  }
  .embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
  .embed-container iframe, 
  .embed-container object, 
  .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }