* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class*=grid] {
    margin: 0;
}
[class*=col-] {
    padding: 0;
}
/* NOTES
- font:
'Maven Pro', sans-serif; 400,500,600
'Noto Sans Display', sans-serif;
- colors
light #acc2b6
feartured #95b1a2
dark #3f564b
*/

/* temporary styles */
/* * {
    padding: 0.5rem;
    border: 1px solid rgb(220,220,220);
} */
/* html,
body {
    border: none;
} */
/* h1, h2, h3, h4, h5, h6, p, a {border: 1px solid rgb(210, 152, 145);}
.bg-image {background-color: rgb(224, 188, 127);} */

/* End temporary styles */

/* Re-usable Utiity Classes  */
.tall-45 { min-height: 45vh; }
.tall-50 { min-height: 50vh; }
.tall-51 { min-height: 50vh;}
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

/* Padding Utility Classes -------*/
.padded-sm { padding: 2.5%; }
.padded-0 {padding: 0;}
.padded    { padding: 5%;   }
.padded-1  { padding: 1rem; }
.padded-05 { padding: 0.5rem; }
.padded-2  { padding: 2rem; }
.padded-lg { padding: 7%;}

.padded-1,
.grid.padded-1 { padding: 1rem; } 

.padded-r-0 {padding-right: 0;}
.padded-r-03 {padding-right: 0.3rem;}
.padded-r  { padding-right: 5%; }

.padded-l-0 {padding-left: 0;}
.padded-l  { padding-left: 5%;  }

.padded-b-0 {padding-bottom: 0;}
.padded-b  { padding-bottom: 5%;}
.padded-b-1 {padding-bottom: 1rem;}
.padded-b-2 {padding-bottom: 2rem;}

.padded-t-0 {padding-top: 0;}
.padded-t-2 { padding-top: 2rem; }

.padded-t-b {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padded-l-r-05 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.margin-b-0 { margin-bottom: 0; }
.margin-t-15 {margin-top: 1.5rem;}

/* Aspect Ratios */
.landscape     { padding-bottom: 66%;  }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }

/* Background Colors--------- */
.bg-light    { background-color: #e5ece8; }
.bg-featured { background-color: #95b1a2; }
.bg-dark      {background-color: #506d5f; }

.text-featured { color: #506d5f;} 
.text-white {color: white;}
.text-dark {color: #243026;}


.medium-text { 
    font-size: 1.8rem;
    line-height: 1.3;}
.big-text { font-size: 4.5rem;}

.uppercase {
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 400;
}

.subtitle { 
    font-size: 1.3rem;
    color: rgb(120,120,125);}

.quote-icon { 
    font-size: 5rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 1;
    font-family: 'Catamaran', sans serif;
}

/* Buttons ---------------*/
.button {
    text-decoration: none;
    border: 2px solid; 
    padding: 0.5rem 1rem;
    display: inline-block;
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
    background-color:  #95b1a2;
    margin-top: 0.8rem;
  }
  .button:hover {
    background-color: #acc2b6;
  }
  .button-form {
    background-color: #acc2b6;
    color: white;
    padding: 0.3rem 1rem;
}
.button-form:hover {background-color: #95b1a2;}

/* Typography */
body {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
}
.logo {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    padding: 0;
    /* color: #3f564b; */
    padding-bottom: 1rem;
}
h1, h2,h4,h5,h6 {
    margin-bottom: 1rem;
}

h1 { font-size: 2.5rem;}
h2 { font-size: 2rem; }
h3 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}
p {  
    line-height: 1.5;
    margin-bottom: 0.8rem;
    font-size: 1rem;
}
p:last-child {
   margin-bottom: 0;
}
h1:last-child, 
h2:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
    margin-bottom: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
nav a {
    font-size: 1rem;
    padding: 0.2rem;
    margin-right: 0.3rem;
}
nav a:last-child {margin-right: 0;}
nav a:hover {color: #acc2b6;}

/* ------------------Header & Footer ---------------- */
header {
    padding: 2% 5%;
}

footer .logo {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: white;
}
.copyright {
    font-size: 0.8rem;
    font-style: italic;
    }

/* Contact Form---------------  */
form input,
form select,
form textarea {
  display: block;
  width: 100%;
  border: 2px solid transparent;
  margin: 0.3rem 0.3rem;
  padding: 0.4rem;
  outline: none;
  font-family: inherit;
  font-size: 0.8rem;
  color: #506d5f;
  appearance: none;

}

form textarea {
  /* min-height: 2rem; */
  resize: vertical;
}

form input:focus, 
form select:focus,
form textarea:focus {
  border: 2px solid #acc2b6;
  outline: none;
}

form button-form {
    margin: 0;
    margin-top: 0.3rem;
    transition: all 0.3s;
    border: 0.1px solid ;
    color: #424d48;
    display: inline-block;
  }
  form input:last-child,
  form select:last-child,
  form textarea:last-child {
      margin-bottom: 0;
   }

.subtle { 
    opacity: 0.8;
} 

/*  Social Links - Class ----- */
.fa-brands {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}
.fa-brands:hover {
    color: #3f564b;
}
.fa-brands:first-child {padding-left: 0%;}

/* features Icons that need to be replaced ----*/
.icon-featured {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    color:  rgb(100,100,100);
}

/* Background Images */
.bg-image {
    background-color: rgb(240,240,240); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/bg-light.jpg');
}
.bg-mint { 
    background-image: url('/images/bg-interior-mint.jpg');
    background-position: 50% 10%;
}
.bg-mint-light { 
    background-image: url('/images/bg-mint-light.jpg');
    background-position: 50% 20%;
}
.bg-room-light { background-image: url('/images/bg-interior-light.jpg');}
.bg-room { background-image: url('/images/bg-interior-room.jpg');}
.bg-kitchen { 
    background-image: url('/images/bg-interior-kitchen.jpg');
    background-position: 50% 10%;
}
.bg-interior { background-image: url('/images/bg-interior-\ 1.jpg');}
.bg-windows-card {background-image: url('/images/bg-card-2.jpg');}
.bg-bed {background-image: url('/images/bg-card4.jpg');}
.bg-card {
    background-image: url('/images/bg-card-1.jpg');
    background-position: 50% 59%;
}
.bg-white-wall {background-image: url('/images/bg-card-3.jpg');}

/* Youtube Video--------- */
.youtube-container {
    max-width: 80%; 
    align-items: center;
  }
  .youtube-center {
    margin: auto;
  }
  .embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
  .embed-container iframe, 
  .embed-container object, 
  .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  
  /* Project Cards--------- */
  .card {
    padding: 0.3rem;
    padding-bottom: 0;
    margin: 0.7rem;
    /* border: 0.5rem solid #dfe6e9; */
    border-radius: 3px;
    min-height: 70vh;
    background-color: white;
  }
  .card h2 {
    font-size: 1.4rem;
}
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
 
  /* [class*="col-"][class*="-middle"] {
    align-self: middle;  */

  /* General CSS Responsive Styles */
.show-xs, 
.show-sm,
.show-md {
    display: none;
}
/* ------- MD Media Query (64em / 1024px) --------------- */ 
@media (max-width: 64em) {
    .show-md { display: block; }
    .hide-md { display: none;  }
    /* body {
        border: 2px solid green;
    } */
    .md-padded-r-l-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .medium-text {
        font-size: 1.4rem;
        line-height: 1.3;}
  }
    .quote-icon {font-size: 4rem;}
    .subtitle {font-size: 1.2rem;}

/* ------- SM Media Query (48em / 768px) --------------- */ 
@media (max-width: 48em) {
    .show-sm { display: block; }
    .hide-sm { display: none;  }
       
    .sm-text-center { text-align: center; }
    .sm-text-left { text-align: left; }
    .sm-text-right { text-align: right; }
  
    .sm-padded { padding: 7%; }
    .sm-padded-1 { padding: 1rem; }
  
    .sm-padded-t-0 { padding-top: 0; }
    .sm-padded-t-2 { padding-top: 2rem; }

    .sm-padded-b-0 { padding-bottom: 0; }
    .sm-padded-b-05 { padding-bottom: 0.5rem; }
    .sm-padded-b-1 { padding-bottom: 1rem; }
    .sm-padded-b {padding-bottom: 5%;}

    .sm-padded-l-0 { padding-left: 0; }
    .sm-padded-r-0 { padding-right: 0; }
    
    .sm-margin-t-0 { margin-top: 0; }
    .sm-margin-t-05 { margin-top: 0.5rem; }
   
    .sm-margin-b-0 { margin-bottom: 0; }
    .sm-margin-b-1 { margin-bottom: 1rem; }
    .sm-margin-l-0 { margin-left: 0; }
    .sm-margin-r-0 { margin-right: 0; }

    body {
        border: 2px solid blue;
    }
    h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    h2 {font-size: 1.7rem;}
    h3 {
        font-size: 1.1rem;}

    .icon-featured {font-size: 2.6rem;}
    .logo {
        font-size: 2rem;}
        nav a {font-size: 0.9rem;}

    .medium-text {
        font-size: 1.3rem;
        line-height: 1.2;}
    .quote-icon {font-size: 3rem;}
    .subtitle {font-size: 1rem;}

    footer .logo {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    footer p {
        line-height: 1;
        font-size: 0.9rem;
    }
    .card {
        min-height: 65vh;
    }

    .horizontal-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;}

    .tall-100 { min-height: 80vh; }
    .tall-80 { min-height: 63vh; }
    .tall-45 { min-height: 40vh; }

    .flex-flip-sm { flex-direction: column-reverse; }
    .youtube-container {
        max-width: 100%;}
  }
  
  /* ------- XS Media Query (36em / 576px) --------------- */ 
  
  @media (max-width: 36em) {
    .show-xs { display: block; }
    .hide-xs { display: none;  }
    body {
        border: 2px solid lightblue;
    }
    .hide-xs { display: none;  }
    .xs-padded-b-05 { padding-bottom: 0.5rem; }
    .xs-center { text-align: center; }
    .logo {
        font-size: 1.6rem;}
    h1 { font-size: 1.8rem;}
    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
    }
    h3 {
        font-size: 1.1rem;
        line-height: 1.2;
        margin-bottom: 0.6rem;}
    p {font-size: 0.9rem;}
    footer .logo {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .medium-text {
        font-size: 1rem;
        line-height: 1.2;}

    .uppercase {font-size: 2rem;}

    .quote-icon {font-size: 3rem;}
    .subtitle {font-size: 0.9rem;}

    .button {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    .card {
        min-height: 58vh;
    }
    .fa-brands {
        margin-top: 0.8rem;
        font-size: 1rem;
        padding-left: 0.3rem;
    }

    .bg-interior {background-position: 50% 60%;}
    .tall-100 { min-height: 80vh; }
    .tall-90 { min-height: 70vh; }
    .tall-80 { min-height: 66vh; }
    .tall-70 { min-height: 55vh; }
    .tall-60 { min-height: 50vh; }
    .tall-45{ min-height: 15vh; }

    .xs-padded-1 {padding: 1rem;}
    .xs-padded-t-05 { padding-top: 0.5rem; }
    .xs-padded-t-2 { padding-top: 2rem; }
    .xs-padded-l-0 { padding-left: 0; }
    .xs-padded-r-0 { padding-right: 0; }
    .xs-padded-b-05 { padding-bottom: 0.5rem; }
    .xs-padded-b-1 { padding-bottom: 1rem; }
    .margin-t-15 {margin-top: 0.5rem;}
  }  

/* ------- XXS Customized Media Query (25em / 400px) --------------- */ 
@media (max-width: 25em) {
    body {border: 2px solid red;}

    .xxs-padded-0 {padding: 0;}
    .xxs-text-center { text-align: center; }
    
    .tall-100 { min-height: 65vh; }
    .tall-90 { min-height: 66vh; }
    .tall-80 { min-height: 50vh; }
    .xxs-tall-35 {min-height: 40vh;}
    
    /* .tall-51 { min-height: 90vh;} */

    .tall-50 { min-height: 30vh;}
    .sm-tall-40 { min-height: 25vh;}
    .card {
        margin: 0.2em;
        padding: 0.3rem;
        min-height: 45vh;
    }
    h1 {font-size: 1.6rem;}
    h2 {font-size: 1rem;}
    h3 {
        line-height: 1.2;
        font-size: 0.8rem;
    }
    footer .logo {
        padding-bottom: 0.5rem;
        font-size: 1.8rem;
    }
    footer p {
        line-height: 0.9;
        font-size: 0.8rem;}
    .button {
        font-size: 0.7rem;
        margin-top: 0.3rem;
        padding: 0.3rem 0.7rem;
    }
    .uppercase {
        text-align: center;
        font-size: 1.6rem;}

    .fa-brands {
        margin-top: 0.8rem;
        font-size: 1rem;
        padding-left: 0.3rem;
    }
    .icon-featured {font-size: 2.3rem;}
}