<!-- Banner -->
<section class="grid-middle tall-45  padded sm-margin-b-1 bg-image bg-mint-light">
    <div class="col-">
        <h2 class="subtle"> We make new creative concepts. </h2>
        <p class="hide-xs"> Honsequuntur vel in cupiditate magnam error <br> animi libero facere doloribus, quas nam! Deserunt, error sequi.</p>
        <nav>
            <a href="#"> <i class="fa-brands fa-pinterest"></i> </a>
            <a href="https://www.instagram.com/svetaugnivenko/"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="#"> <i class="fa-brands fa-facebook-f"></i> </a>
        </nav>
    </div>
</section>