<section class="grid padded padded-b-0">
    <h2 class="col-12 center uppercase margin-t-15 testimonial-sm sm-margin-b-2"> what our clients say </h2>
    
    <div class="col-1 right"> <span class="quote-icon"> “ </span> </div>
    <div class="col-10">
      
  <div class="testimonial-slider-container testimonial">
  <!------ Slide 1 ------>
    <div class="slider-item"> 
      <p class="justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eequuntur pariatur accusantium atque ipsam nemo velit fugiat. </p>
      <p class="author "> - Kate M. </p>
    </div>
    <!------ Slide 2 ------>
    <div class="slider-item"> 
        <p class="justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellent fugiat, minima voluptas vitae rerum assumenda quae quia quisaccessories </p>
      <p class="author "> - Tom G. </p>
      </div>
    <!------ Slide 3 ------>
    <div class="slider-item"> 
         <p class="justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus expedita similique quasi quo consequuntur pariatur accusantium atque ipsam nemo velit fugiat, minima voluptas vitae rerum assumenda quae quia impedit quisaccessories </p>
      <p class="author "> - Tina M. </p>
    </div>
    <!------ Slide 4 ------>
    <div class="slider-item"> 
     <p class="justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus expedita similique quasi quo consequuntur pariatur accusantium atque ipsam nemo velit fugiat, minima voluptas vitae rerum assumenda quae quia impedit quisaccessories </p>
      <p class="author "> - Ethan T. </p>
      </div>
    </div>
    </div>
    
    <div class="col-1"> <span class="quote-icon"> ” </span> </div>
  </section>