---
layout: default
---


<section class="padded capped-width-narrow blog-content">


        <div class="intro padded-1 center margin-b-2">
            
        {% for item in page.categories %}
            <span class="tag"> {{ item }}</span>
        {% endfor %}

            <h1 class="text-featured"> {{ page.heading }} </h1>
            
         
        </div>

        <div class="padded-1">

            {{content}}

        </div>
        
        {% include social-share.html %}


</section>
